.followers-list {
  display: inline-flex;
  flex-direction: column;

  &__icon {
    font-size: 24px;
  
    svg {
      width: 1em;
      height: 1em;
      display: flex;
    }
  }

  &__item {
    display: inline-flex;
    align-items: center;
    padding: 8px 0;
    border-bottom: 1px solid #E2E2E2;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      border-bottom: 0;
      padding-bottom: 0;
    }
  }

  &__text {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    padding: 0 16px;
  }
}