@import "_utils/uads";

/*
  Note: if component has "prefix" element - "has-prefix" modifier is required on component's root element:
    - form-field--has-prefix
*/
/*
  Note: if component is in focused state - "is-focused" modifier is required on component's root element:
    - form-field--is-focused
*/
/*
  Note: if component is in invalid state - "is-invalid" modifier is required on component's root element:
    - form-field--is-invalid
*/
/*
  Note: if component has value - "has-value" modifier is required on component's root element:
    - form-field--has-value
*/

.form-field {
  $background-color: #ffffff;
  $border-color: #E2E2E2;
  $border-color--focused: #E2E2E2;
  $font-size: 16px;
  $font-weight: 300;
  $icon-color: #ACACAC;
  $icon-color--has-value: #2b2b2b;
  $icon-color--is-focused: #EB922F;
  $line-height: 19px;
  $padding-bottom: 16px;
  $padding-left: 0;
  $padding-left--with-prefix: 32px;
  $padding-right: 0;
  $padding-right--is-invalid: 32px;
  $padding-top: 8px;
  $placeholder-color: #ACACAC;
  $transition: border-color 0.25s ease-in-out;

  padding-bottom: 8px;
  position: relative;

  &__input {
    @include uads-input(
      $appearance: textfield,
      $background-color: $background-color,
      $border-color: #4c4c4c,
      $border-color--readonly: rgb(188, 188, 188),
      $border-radius: 0,
      $border-style: solid,
      $border-width: 0,
      $box-sizing: border-box,
      $color: inherit,
      $cursor: auto,
      $display: block,
      $font-family: inherit,
      $font-size: $font-size,
      $font-weight: $font-weight,
      $height: auto,
      $letter-spacing: normal,
      $line-height: $line-height,
      $margin-bottom: 0,
      $margin-left: 0,
      $margin-right: 0,
      $margin-top: 0,
      $opacity--disabled: 0.4,
      $outline-offset--focus: -2px,
      $outline-style--focus-readonly: none,
      $padding-bottom: $padding-bottom,
      $padding-left: $padding-left,
      $padding-right: $padding-right,
      $padding-top: $padding-top,
      $rtl-ordering: logical,
      $text-align: start,
      $text-indent: 0,
      $text-shadow: none,
      $text-transform: none,
      $user-select: text,
      $word-spacing: normal,
      $writing-mode: horizontal-tb,
      $xul-box-orient: inherit
    );
    width: 100%;
    border-bottom: 1px solid $border-color;
    transition: $transition;

    .form-field--has-prefix & {
      padding-left: $padding-left--with-prefix;
    }
    
    .form-field--is-invalid & {
      padding-right: $padding-right--is-invalid;
    }

    &:focus {
      @include uads--focus(
        $outline-color: #1f5ccf,
        $outline-style: none,
        $outline-width: 3px
      );
      border-bottom-color: $border-color--focused;
    }

    &::placeholder {
      color: $placeholder-color;
    }
  }

  &__invalid-icon {
    display: none;

    .form-field--is-invalid & {
      display: block;
    }
  }

  &__prefix {
    position: absolute;
    top: 10px;
    left: 0;
    font-size: 16px;
    color: $icon-color;

    svg {
      width: 1em;
      height: 1em;
      display: flex;
    }

    .form-field--has-value & {
      color: $icon-color--has-value;
    }
    
    .form-field--is-focused & {
      color: $icon-color--is-focused;
    }
  }

  &__suffix {
    position: absolute;
    top: 10px;
    right: 0;
    font-size: 16px;

    svg {
      width: 1em;
      height: 1em;
      display: flex;
    }
  }

  &__textarea {
    @include uads-textarea(
      $appearance: textarea,
      $background-color: $background-color,
      $border-color: #4c4c4c,
      $border-color--readonly: rgb(188, 188, 188),
      $border-style: solid,
      $border-width: 0,
      $box-orient: vertical,
      $color: inherit,
      $cursor: auto,
      $display: block,
      $flex-direction: column,
      $font-family: inherit,
      $font-size: $font-size,
      $font-weight: $font-weight,
      $letter-spacing: normal,
      $line-break: after-white-space,
      $line-height: $line-height,
      $margin-bottom: 0,
      $margin-left: 0,
      $margin-top: 0,
      $margin-right: 0,
      $nbsp-mode: space,
      $opacity--disabled: 0.4,
      $outline-offset--focus: -2px,
      $padding-bottom: $padding-bottom,
      $padding-left: $padding-left,
      $padding-right: $padding-right,
      $padding-top: $padding-top,
      $resize: none,
      $rtl-ordering: logical,
      $text-align: start,
      $text-indent: 0,
      $text-shadow: none,
      $text-transform: none,
      $user-select: text,
      $white-space: pre-wrap,
      $word-spacing: normal,
      $word-wrap: break-word,
      $writing-mode: horizontal-tb
    );
    width: 100%;
    border-bottom: 1px solid $border-color;
    transition: $transition;

    .form-field--has-prefix & {
      padding-left: $padding-left--with-prefix;
    }
    
    .form-field--is-invalid & {
      padding-right: $padding-right--is-invalid;
    }

    &:focus {
      @include uads--focus(
        $outline-color: #1f5ccf,
        $outline-style: none,
        $outline-width: 3px
      );
      border-bottom-color: $border-color--focused;
    }

    &::placeholder {
      color: $placeholder-color;
    }
  }
}