/*
  Note: size modifier is required on component's root element:
    - game-list--big
    - game-list--small
*/

.game-list {
  display: grid;
  height: 100%;

  &--big {
    row-gap: 24px;
  }

  &--small {
    row-gap: 16px;
  }

  &__background {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__item {
    position: relative;
    width: 100%;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.4);

    .game-list--big & {
      border-radius: 10px;
    }

    .game-list--small & {
      border-radius: 6px;
    }
  }

  &__logo {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.4);

    svg {

      .game-list--big & {
        width: 160px;
        height: 40px;
      }
  
      .game-list--small & {
        width: 96px;
        height: 24px;
      }
    }
  }
}
