.hero-scheduling {
    background: #fff;
    border-radius: 10px;
    display: flex;

    &__steps {
        flex-grow: 1;
    }

    @media (max-width: $bp-max-mobile-landscape) {
        flex-direction: column;
    }
}