@import "_utils/uads";

/*
  Note: style modifier is required on component's root element:
    - primary-button--solid
    - primary-button--stroked
*/

.primary-button {
  $button-views: (
    "solid": (
      "background-color": #EB922F,
      "border-color": #EB922F,
      "border-color--disabled": #ACACAC,
      "text-color": #ffffff,
    ),
    "stroked": (
      "background-color": transparent,
      "border-color": #EB922F,
      "border-color--disabled": #ACACAC,
      "text-color": #EB922F,
    )
  );
  $display: inline-block;
  $padding-top: 12px;
  $padding-right: 24px;
  $padding-bottom: 12px;
  $padding-left: 24px;
  $font-weight: 500;
  $font-size: 16px;
  $line-height: 19px;
  
  width: 100%;

  @each $view-name, $view-style in $button-views {
    &--#{$view-name} {
      border-radius: 10px;
  
      &[href] {
        @include uads-a(
          $color: map-get($view-style, "text-color"),
          $color--active: map-get($view-style, "text-color"),
          $color--active-link: map-get($view-style, "text-color"),
          $color--active-visited: map-get($view-style, "text-color"),
          $color--visited: map-get($view-style, "text-color"),
          $cursor: pointer,
          $outline-color--active-link: map-get($view-style, "border-color"),
          $outline-style--active-link: none,
          $outline-width--active-link: 1px,
          $outline-color--active-visited: map-get($view-style, "border-color"),
          $outline-style--active-visited: none,
          $outline-width--active-visited: 1px,
          $outline-color--focus: map-get($view-style, "border-color"),
          $outline-style--focus: none,
          $outline-width--focus: 1px,
          $text-decoration: none,
          $user-focus: normal,
          $user-select: element
        );
        background: map-get($view-style, "background-color");
        border: 1px solid map-get($view-style, "border-color");
        display: $display;
        padding-top: $padding-top;
        padding-right: $padding-right;
        padding-bottom: $padding-bottom;
        padding-left: $padding-left;
        font-weight: $font-weight;
        font-size: $font-size;
        line-height: $line-height;
      }

      &[type] {
        @include uads-button(
          $align-items: center,
          $appearance: none,
          $background-color: map-get($view-style, "background-color"),
          $border-color: map-get($view-style, "border-color"),
          $border-style: solid,
          $border-style--active: solid,
          $border-style--active-disabled: solid,
          $border-width: 1px,
          $box-align: center,
          $box-sizing: border-box,
          $color: map-get($view-style, "text-color"),
          $color--active: map-get($view-style, "text-color"),
          $color--disabled: #ACACAC,
          $cursor: default,
          $display: $display,
          $font-family: inherit,
          $font-size: $font-size,
          $font-style: normal,
          $font-variant: normal,
          $font-weight: $font-weight,
          $letter-spacing: normal,
          $line-height: $line-height,
          $margin-left: 0,
          $margin-right: 0,
          $margin-bottom: 0,
          $margin-top: 0,
          $outline-color--focus: map-get($view-style, "border-color"),
          $outline-style--focus: none,
          $outline-width--focus: 1px,
          $outline-offset--focus: 0,
          $padding-top: $padding-top,
          $padding-right: $padding-right,
          $padding-bottom: $padding-bottom,
          $padding-left: $padding-left,
          $text-align: center,
          $text-indent: 0,
          $text-rendering: auto,
          $text-shadow: none,
          $text-transform: none,
          $user-select: element,
          $white-space: normal,
          $word-spacing: normal,
          $writing-mode: horizontal-tb
        );

        &:disabled {
          border-color: map-get($view-style, "border-color--disabled");
          background: #ffffff;
        }
      }
    }
  }
}