.purchased-session-message {
    background: #fff;
    border-radius: 10px;
    display: flex;

    &__step {
        padding: 48px 48px 48px 24px;
    }
    &__step-content {
        margin-top: 27px;
    }
    &__step-description {
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
    }
    &__step-title {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 8px;
    }

    @media (max-width: $bp-max-mobile-landscape) {
        flex-direction: column;
      
        &__step {
            padding: 48px 0 48px 0;
        }
        &__step-content {
            max-width: 300px;
        }
    }
}