.purchase-box {
  border: 1px solid #E2E2E2;
  border-radius: 10px;
  padding: 24px;

  &__card-type-image {
    margin: 8px;
  
    svg {
      width: 48px;
      display: flex;
    }
  }

  &__card-type-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__content {
    margin: 62px 0 82px;
    text-align: center;
  }

  &__price {
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    margin: 8px 0;
  }

  &__price-label {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
  }

  &__price-note {
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
  }
}