.session-scheduler {
    background: #fff;
    border-radius: 10px;
    padding: 64px;
    display: grid;
    column-gap: 64px;
    row-gap: 32px;
    grid-template-columns: repeat(2, 1fr);

    &__message {
        font-size: 18px;
        line-height: 21px;
        grid-column: 1 / span 2;
    }

    &__note {
        grid-column: 1 / span 2;
        border-radius: 10px;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        padding: 16px 16px 16px 48px;
        position: relative;

        &::before {
            content: "";
            display: block;
            width: 48px;
            height: 100%;
            background-repeat: no-repeat;
            background-size: 16px;
            position: absolute;
            left: 0;
            top: 0;
            background-position: 50% 50%;
        }

        &--reminder {
            color: #CE3434;
            background: rgba(206, 52, 52, 0.2);

            &::before {
                background-image: url(./assets/icons/info-reminder.svg);
            }
        }

        &--warning {
            color: #EB922F;
            background: rgba(235, 146, 47, 0.2);

            &::before {
                background-image: url(./assets/icons/info-warning.svg);
            }
        }
    }

    &__step-description {
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 24px;
    }

    &__step-title {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 8px;
    }

    @media (max-width: 1200px) {
        grid-template-columns: 1fr;

        &__message {
            grid-column: auto;
        }

        &__note {
            grid-column: auto;
        }
    }

    @media (max-width: $bp-max-mobile-landscape) {
      border-radius: 0;
      padding: 0;
    }
}