.single-boxed-section {
  padding: 24px 0;
  display: flex;

  &__box {
    width: 33.33%;
    flex-shrink: 0;
  }

  &__decor {
    flex-grow: 1;
    padding-top: 64px;
    padding-left: 64px;
  }

  &__decor-image {
    width: 100%;
    display: block;
  }

  @media (max-width: $bp-max-tablet) {
    padding-left: 32px;
    padding-right: 32px;
    flex-direction: column;

    &__box {
      width: 75%;
      margin: 0 auto;
    }

    &__decor {
      padding-left: 0;
    }
  }

  @media (max-width: $bp-max-mobile-landscape) {
    padding: 32px 0 32px;

    &__box {
      width: 100%;
    }
  }
}